DATABASE_URL=postgresql://postgres:password@localhost:5432/valorant

ACCOUNT_SERVICE_URL=http://localhost:8081
MATCH_SERVICE_URL=http://localhost:8083
MATCHMAKING_SERVICE_URL=http://localhost:8084
RATING_SERVICE_URL=http://localhost:8082

POSTGRES_PASSWORD=changeme